@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700&subset=latin-ext');

#main-menu {
	position: relative;
}

#exercise-progress {
	margin-top: 0;
	border-radius: 0;
}

#exercise-progress .bar {
	border-radius: 0;
}

#question-text {
	font-size: 40px;
	width: 100%;
	display: inline-block;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
}

#answer-field {
	font-family: "Bitter", sans-serif;
	width: 100%;
	height: 400px;
	font-size: 40px;
	text-align: center;
	resize: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
}

#correct-marker, #incorrect-marker {
	position: fixed;
	right: 50px;
	bottom: 50px;
	border: none;
}

